<form class="searchForm" (ngSubmit)="searchMovies(f)" #f="ngForm">
  <mat-form-field class="searchField">
    <input matInput placeholder="Search for a movie" ngModel name="movie" required>
  </mat-form-field>
</form>

<div *ngIf="movieResults" class="row">
  <div *ngFor="let movie of movieResults.results" class="col-md-4 mx-auto my-5">
    <mdb-card dark="true">
      <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}"></mdb-card-img>
        <mdb-card-img *ngIf="!movie.poster_path" src="https://popcornusa.s3.amazonaws.com/placeholder-movieimage.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <mdb-card-body class="elegant-color white-text">

        <mdb-card-title>
          <h4>{{movie.title}}</h4>
        </mdb-card-title>

        <hr class="hr-light">
        <button mat-raised-button [hidden]="user" class="btn btn-primary" (click)="getMovie(movie.id)" [routerLink]="['/movieInfo']">Movie Info</button>
        <button mat-raised-button [hidden]="!user" class="btn-sm btn-outline-primary" (click)="getMovie(movie.id)" [routerLink]="['/reviews']">Leave A Review</button>
        <button mat-raised-button [hidden]="!user" class="btn btn-primary" (click)="addToWatchlist(movie.id)">Add to Watchlist</button>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>

<div mdbModal #demoBasic="mdbModal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="background-color:#00FF7F">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">SUCCESS!</h4>
            </div>
        </div>
    </div>
</div>