<app-navbar></app-navbar>

<div class="col-md-12" style="color:aliceblue">
  <h2>Profile Information</h2>
  <br>
  <div style="overflow: hidden">
  <img src="image placeholder" style="height:200px; width:200px; float:left"/>
  <p>Username: (username placeholder)</p>
  <button>change Username</button>
  <p>Role: (role placeholder)</p>
  </div>
  <div style="overflow: hidden">
  <button style="float: left">change profile picture</button>
  <button style="float: left">admin picture override</button>
</div>
<div style="overflow: hidden"><h2 style="float: left">Profile Description</h2></div>
<hr>
<p>(profile Description placeholder) Even trees need a friend. We all need friends. We might as well make some Almighty mountains today as well, what the heck. Any little thing can be your friend if you let it be. Isn't that fantastic that you can make whole mountains in minutes? Automatically, all of these beautiful, beautiful things will happen. There we are. </p>
<button>change Profile Description</button>
<div style="overflow: hidden"><h2 style="float: left">Reviews Made</h2></div>
<hr>
<p>(reviews tied to this account populate here)</p>
<div class="boxMaker"></div>
<div style="overflow: hidden"><h2 style="float: left">Watchlist</h2></div>
<hr>
<p> (movies tied to this watchlist for this account populate here) </p>
<div class="boxMaker"></div>
</div>

