<app-navbar></app-navbar>

<div class="col-md-12" style="color:aliceblue">
  <h2>Profile Information</h2>
  <br>
  <div style="overflow: hidden">
  <img [src]="'data:image/jpeg;base64,'+user.picture" style="height:200px; width:200px; float:left"/>
  <p>Username: {{ user.username }}</p>
  <button>change Username</button>
  <p>Role: {{ user.userRole }}</p>
  </div>
  <div style="overflow: hidden">
  <form (ngSubmit)="uploadPhoto(f)" #f="ngForm">
    <h5>Upload a profile image</h5>
    <input type="file" id="profileImage" ngModel name="picture" accept="image/jpeg">
    <br>
    <br>
    <input type="submit">
  </form>
  <button style="float: left">admin picture override</button>
</div>
<div style="overflow: hidden"><h2 style="float: left">Profile Description</h2></div>
<hr>
<p> {{ user.profileinfo }} </p>
<button>change Profile Description</button>
<div style="overflow: hidden"><h2 style="float: left">Reviews Made</h2></div>
<hr>
<p>(reviews tied to this account populate here)</p>
<div class="boxMaker"></div>
<div style="overflow: hidden"><h2 style="float: left">Watchlist</h2></div>
<hr>
<p> (movies tied to this watchlist for this account populate here) </p>
<div class="boxMaker"></div>
</div>

