@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h5, p {
  color: white;
}

form input {
  color: white; 
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: black
}

/* .form-container > * {
  width: 30%;
} */

.genre-container {
  display: flex;
  flex-direction: row;
}

.genre-group {
  display: flex;
  flex-direction: column;
}

.rating-container > * {
  margin-left: 15px;
}

form {
  color: white;
}

.randomMovieResult {
  color: white;
  border: 2px solid white;
}

.randomMovieResult img {
  height: 280px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.randomMovieResult p {
  margin-left: auto;
  margin-right: auto;
}

#group2 {
  margin-left: 20px;
}
