<div *ngIf="stuff" class="randomMovieResult">
    <img src="https://image.tmdb.org/t/p/w500{{randomMovie.poster_path}}"> 
  <p> {{ randomMovie.title }}</p>
  <p>{{ randomMovie.overview}}</p>
</div>
<br>
<h5> Not sure what to watch? </h5>

<div class="form-container">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <br>
    <h5> Rating </h5>
    <div class="rating-container">
      <mat-checkbox ngModel name="ratedG"> G </mat-checkbox>
      <mat-checkbox ngModel name="ratedPG"> PG </mat-checkbox>
      <mat-checkbox ngModel name="ratedPG13"> PG-13 </mat-checkbox>
      <mat-checkbox ngModel name="ratedR"> R </mat-checkbox>
      <mat-checkbox ngModel name="ratedNC17"> NC-17 </mat-checkbox>
      <mat-checkbox ngModel name="ratedNR"> NR </mat-checkbox>
    </div>
    <br>
    <h5> Genres </h5>
    <div class="genre-container">
      <div class="genre-group">
        <mat-checkbox ngModel name="actionBox"> Action </mat-checkbox>
        <mat-checkbox ngModel name="adventureBox"> Adventure </mat-checkbox>
        <mat-checkbox ngModel name="adventureBox"> Animation </mat-checkbox>
        <mat-checkbox ngModel name="comedyBox"> Comedy </mat-checkbox>
        <mat-checkbox ngModel name="crimeBox"> Crime </mat-checkbox>
        <mat-checkbox ngModel name="docBox"> Documentary </mat-checkbox>
        <mat-checkbox ngModel name="dramaBox"> Drama </mat-checkbox>
        <mat-checkbox ngModel name="familyBox"> Family </mat-checkbox>
        <mat-checkbox ngModel name="fantasyBox"> Fantasy </mat-checkbox>
        <mat-checkbox ngModel name="historyBox"> History </mat-checkbox>
      </div>
      <div class="genre-group" id="group2">
        <mat-checkbox ngModel name="horrorBox"> Horror </mat-checkbox>
        <mat-checkbox ngModel name="musicBox"> Music </mat-checkbox>
        <mat-checkbox ngModel name="mysteryBox"> Mystery </mat-checkbox>
        <mat-checkbox ngModel name="romanceBox"> Romance </mat-checkbox>
        <mat-checkbox ngModel name="sciFiBox"> Science Fiction </mat-checkbox>
        <mat-checkbox ngModel name="tvMovieBox"> TV Movie </mat-checkbox>
        <mat-checkbox ngModel name="thrillerBox"> Thriller </mat-checkbox>
        <mat-checkbox ngModel name="warBox"> War </mat-checkbox>
        <mat-checkbox ngModel name="westernBox"> Western </mat-checkbox>
      </div>
    </div>
    <br>
    <button mat-raised-button>Submit</button>
  </form>
</div>