<mat-toolbar class="toolbar" color="primary">

  <mat-toolbar-row>
    <span>Cinema Squire</span>
    <span class="navSpacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="navIcon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Reviews</span>
      </button>
      <button mat-menu-item>
        <span>Watch List</span>
      </button>
      <button mat-menu-item>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu2">
      <mat-icon class="navIcon">person</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <button *ngIf="!user" mat-menu-item type="button" mdbBtn rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
        mdbWavesEffect>
        <span>Login</span>
      </button>
      <button *ngIf="user" mat-menu-item (click)="logout()">
          <span>Logout</span>
        </button>
      <button *ngIf="!user" mat-menu-item>
        <span>Create Account</span>
      </button>
      <button mat-menu-item [disabled]="!user">
        <span>View Profile</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form (ngSubmit)="login(f)" #f="ngForm">
          <div class="md-form mb-5">
              <input class="form-control" placeholder="Username" ngModel name="username" required>
          </div>

          <div class="md-form mb-4">
              <input type="password" class="form-control" placeholder="Password" ngModel name="password" required>
          </div>


          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" mdbBtn color="red" class="waves-light" mdbWavesEffect>Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>