#user-display {
    display: inline-flex;
    margin: auto;
}

#user-display > * {
    padding-right: 10px;
}

p {
    color: black;
    margin-top: auto;
    
}

h4 {
    color: white;
}


.searchField {
    width: 400px;
}

#user-search-result{
    display: flex;
    color: black;
}

#user-info {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color:white;
}

#new-mods {
    border: 1px solid hotpink;
}

table {
    border: 2px solid white;
    background-color: lightgray;
    margin: auto;
    
}

th, td {
    border: 1px solid black;
}

h5 {
    color: black;
    font-weight: bold;
}

.review {
    border: 1px solid yellowgreen;
    background-color: lightgray;
}